
*,
*:after,
*:before {
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
}

// Fluid typography equations by Michael Riethmuller
// https://www.smashingmagazine.com/2016/05/fluid-typography/

// min 400px
@media screen and (min-width: 25em) {
html {
      font-size: calc( 16px + (24 - 16) * (100vw - 400px) / (1920 - 400) );
  }
}

body {
  font-family: "Lato", sans-serif;
  color: #222222;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ebe0d9;
}
a {
  color: #121212;
  font-weight: bolder;
  text-decoration: underline;
  // background-image: linear-gradient(180deg, transparent 60%, rgba(241, 239, 226, 0.459) 60%);
  transition: all 200ms ease-in-out;
}
a:hover,
a:focus,
a:active {
  // background-image: linear-gradient(180deg, transparent 0%, white 60%)
}

img {
  width: 100%;
  height: auto;
}
img.contain {
  object-fit: contain;
  height: 100%;
}


section {
  scroll-snap-align: start;
}

$font-scale: 1.175;
$font-scale-large: 1.3;

h1 {
  font-size: 1em * $font-scale * $font-scale * $font-scale;
}
h2 {
  font-size: 1em * $font-scale * $font-scale;
  margin: 0.25em 0;
}
h3 {
  font-size: 1em * $font-scale;
}
h4 {
  font-size: 1em;
}
h5 {
  font-size: 1em / $font-scale;
}
h6 {
  font-size: 1em / $font-scale / $font-scale;
}

@media screen and (min-width: 50em) {
  
  h1 {
    font-size: 1em * $font-scale-large * $font-scale-large * $font-scale-large;
  }
  h2 {
    font-size: 1em * $font-scale-large * $font-scale-large;
  }
  h3 {
    font-size: 1em * $font-scale-large;
  }
  h4 {
    font-size: 1em;
  }
  h5 {
    font-size: 1em / $font-scale-large;
  }
  h6 {
    font-size: 1em / $font-scale-large / $font-scale-large;
  } 
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 1.2em 0 1em 0;
}

p + p {
  margin-top: 1.5em;
}

button {
  border: none;
  cursor: pointer;
  background: none;
}
.title {
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  color: #ffffff;
  margin: 0;
  padding-top: 0.5rem;
}
.nowrap {
  white-space: nowrap;
}
.bold {
  font-weight: bold;
}


// where should this go?

@import "margin_helpers";
@import "position_helpers";
@import "padding_helpers";
@import "clearfix";
