*,
*:after,
*:before {
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
  // scroll-snap-type: y mandatory;
}

// Fluid typography equations by Michael Riethmuller
// https://www.smashingmagazine.com/2016/05/fluid-typography/
@media screen and (min-width: 25em) {
  html {
    font-size: calc(16px + (24 - 16) * (100vw - 400px) / (1600 - 400));
  }
}

@media screen and (min-width: 50em) {
  html {
    font-size: calc(16px + (24 - 16) * (100vw - 400px) / (1600 - 400));
  }
}

body {
  font-family: "Lato", sans-serif;
  color: #222222;
  // scroll-snap-type: y mandatory;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

$font-scale: 1.33;

h1,
.h1 {
  font-size: 1em * $font-scale * $font-scale * $font-scale;
  margin: 0.25em 0;
}
h2,
.h2 {
  font-size: 1em * $font-scale * $font-scale;
  margin: 0.25em 0;
}
h3,
.h3 {
  font-size: 1em * $font-scale;
  margin: 0.25em 0;
}
h4,
.h4 {
  font-size: 1em;
  margin: 0.25em 0;
}
h5,
.h5 {
  font-size: 1em / $font-scale;
  margin: 0.25em 0;
}
h6,
.h6 {
  font-size: 1em / $font-scale / $font-scale;
  margin: 0.25em 0;
}

button {
  border: none;
  cursor: pointer;
  background: none;
}

.title {
  font-family: Montserrat-Black;
  color: #ffffff;
}

@import "margin_helpers";
@import "position_helpers";
@import "padding_helpers";
@import "clearfix";
