*,
*:after,
*:before {
  box-sizing: border-box;
}

html {
  font-size: calc(16px + 1vw);
  overflow-x: hidden;
  // scroll-snap-type: y mandatory;
}
body {
  font-family: "Lato", sans-serif;
  color: #222222;
  // scroll-snap-type: y mandatory;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

$font-scale: 1.33;

h1,
.h1 {
  font-size: 1em * $font-scale * $font-scale * $font-scale ;
  margin: 0.25em 0;
}
h2,
.h2 {
  font-size: 1em * $font-scale  * $font-scale ;
  margin: 0.25em 0;
}
h3,
.h3 {
  font-size: 1em * $font-scale;
  margin: 0.25em 0;
}
h4,
.h4 {
  font-size: 1em;
  margin: 0.25em 0;
}
h5,
.h5 {
  font-size: 1em / $font-scale;
  margin: 0.25em 0;
}
h6,
.h6 {
  font-size: 1em / $font-scale / $font-scale;
  margin: 0.25em 0;
}

button {
  border: none;
  cursor: pointer;
  background: none;
}

.title {
  font-family: Montserrat-Black;
  color: #ffffff;
}

.page {
  width: 100%;
  min-height: 100vh;
  padding: 1rem;
  
  &__contents {
    float: left;
    width: 100%;
    max-width: 800px;
    border: 1px solid orange;
  }

  &--intro {
    // scroll-snap-align: start;
  }
}

@import "clearfix";