// position helpers
.rel {
  position: relative;
}
.abs {
  position: absolute;
}
.fixed {
  position: fixed;
}

// positional alignment
.t0 {
  top: 0;
}
.l0 {
  left: 0;
}
.r0 {
  right: 0;
}
.b0 {
  bottom: 0;
}

// float positioning
.fl {
  float: left;
}
.fr {
  float: right;
}
.fn {
  float: none;
}

// z-index helpers
.z-0		{ z-index: 0; }
.z-1		{ z-index: 1; }
.z-10		{ z-index: 10; }
.z-100		{ z-index: 100; }
.z-1000		{ z-index: 1000; }