.alg {
  position: relative;
  display: inline-block;
  padding: 0.2em 0.4em;
  border-radius: 0.25em;
  background: rgba(12, 12, 12, 0.1);
  font-weight: bold;

  span:not(:last-child) {
    margin-right: 0.2em;
  }
  .name {
    font-size: 0.6em;
    padding: 0 0.6em;
    position: absolute;
    top: -1.2em;
    left: 0;
    display: inline-block;
    color: rgba(18, 18, 18, 0.5);
  }
  &.fish {
    background: rgba(240, 128, 128, 0.5);
  }
}
.alg + .alg {
  margin-left: 0.5em;
}