.page {
  position: relative;
  margin: auto;
  width: 100%;
  height: 100vh;
  max-width: 1920px;
  &__content {
    padding: 0.5rem 1rem;

    // small but larger than mobile. 400px+
    @media screen and (min-width: 25em) {
    }

    // medium screen 960px+
    @media screen and (min-width: 60em) {
    }
    // large screen
    @media screen and (min-width: 90em) {
    }
    
    @media screen and (min-width: 50em) and (orientation:landscape ){
    }
  }
}