.page {
  position: relative;
  margin: auto;
  width: 100%;
  height: 100vh;
  max-width: 1920px;
  
  &__content {
    padding: 0 1em;
    padding-top: 50vh;
    width: 25em;
    // width: 20em;
    // @media screen and (min-width: 50em){
    //   width: 50%;
    //   padding: 1rem;
    // }
    // p {
    //   width: 20em;
    //   margin: auto;
    // }

    @media (orientation:landscape ){
      padding: 0 3em;
    }
  }


}